

@{
    ViewData["Title"] = "Bookings Page";
}

//<h2>Please note that bookings are subject to change at any moment unless final confirmation is made</h2>
<i> Looking for an effective booking? Then look no further</i>

<a asp-controller="Home" asp-action="Events" class="btn btn-primary">View Events</a>


