@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventEase Booking Services</h1>
    //<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Image 1:<a href="https://www.google.co.za/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Fpalm-tree-sunset&psig=AOvVaw2IGbPRFpzh5e180gOd6Ae2&ust=1743714639806000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNj4lLChuowDFQAAAAAdAAAAABAm">Of the palm trees</a>.</p>

<div>
        <p>At EventEase, our mission is to prioritize your event planning experience.
           We are dedicated to providing seamless and convenient booking services tailored
           to meet your needs, ensuring your booking process runs smoothly.</p>
        <p>We understand the importance of hassle-free event management, and our objective 
            is to offer you the experience you’ve always wished for. Whether you're booking 
            a venue or organizing an event, we are here to support you every step of the way.</p>
</div>

<div>
<p>If you have any questions or need assistance, don’t hesitate to reach out to us
    at EventEaseBookings@gmail.com.  You can also schedule a call with our dedicated 
    event planner <a href="https://www.google.co.za/url?sa=i&url=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dcall%2Bcenter%2Blady&psig=AOvVaw1-ZNlP3E7LvONY8nZk6vS_&ust=1743718613204000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNjCz5-wuowDFQAAAAAdAAAAABAE"> Charmaine Prinsloo,</a></b>
     who is always ready to guide you through the booking process.</p>
     <p>We look forward to assisting you with your event needs!</p>
</div>
